<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>密码管理</title>
    <link rel="shortcut icon" href="../images/bitbug_favicon.ico">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/my.js"></script>
    <script src="/js/base.js"></script>
    <style>
        .fail{color: red;}
        .success{color: green;}
    </style>
</head>
<body>
    <div id="app" class="container-fluid" style="margin-left: 20px;">
        <form action="#" method="POST">
            <div class="row">
                <label for="oldPassword" class="col-md-2 text-right">原密码</label>
                <div class="col-md-4 form-group">
                    <input type="password" v-model="oldPassword" @blur="checkOldPassword('123456')" class="form-control" id="oldPassword" placeholder="请输入原密码">
                </div>
                <div :class="oldInfoClass" v-text="oldInfo"></div>
            </div>
            <div class="row">
                <label for="newPassword" class="col-md-2 text-right">新密码</label>
                <div class="col-md-4 form-group">
                    <input type="password" v-model="newPassword" @blur="checkNewPassword" class="form-control" id="newPassword" placeholder="请输入新密码">
                </div>
                <div :class="newInfoClass" v-text="newInfo"></div>
            </div>
            <div class="row">
                <label for="newPassword2" class="col-md-2 text-right">验证新密码</label>
                <div class="col-md-4 form-group">
                    <input type="password" v-model="newPassword2" @blur="checkNewPassword2" class="form-control" id="newPassword2" placeholder="请再次输入新密码">
                </div>
                <div :class="newInfoClass2" v-text="newInfo2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4 form-group">
                    <button type="button" @click="checkModify(id)" class="btn btn-primary" >修改密码</button>
                </div>
            </div>
        </form>
    </div>
    <script>
      var passwordVue=new Vue({
            el:'#app',
            data:{
                oldPassword:'',
                newPassword:'',
                newPassword2:'',

                oldInfo:'',
                oldInfoClass:'',

                newInfo:'',
                newInfoClass:'',

                newInfo2:'',
                newInfoClass2:'',

                id:'',
            },
            methods: {
                checkOldPassword:function(pwd){
                	var customer = getDataByAjax('/sessionCustomer');
                	this.id = customer.id;
                    if(this.oldPassword == customer.cusPwd){
                        this.oldInfo = '原密码正确';
                        this.oldInfoClass = 'success';
                        return true;
                    }else{
                        this.oldInfo = '原密码不正确';
                        this.oldInfoClass = 'fail';
                        return false;
                    }
                },
                checkNewPassword:function(){
                    var patt = /^[0-9A-Za-z]{6,10}$/;
                    if(patt.test(this.newPassword)){
                        this.newInfo = '新密码可用';
                        this.newInfoClass = 'success';
                        return true;
                    }else{
                        this.newInfo = '新密码不可用';
                        this.newInfoClass = 'fail';
                        return false;
                    }
                },
                checkNewPassword2:function(){
                    if(this.newPassword == this.newPassword2 && this.newPassword != '' && this.newPassword2 != ''){
                        this.newInfo2 = '两次密码一致';
                        this.newInfoClass2 = 'success';
                        return true;
                    }else{
                        this.newInfo2 = '两次密码不一致';
                        this.newInfoClass2 = 'fail';
                        return false;
                    }
                },
                checkModify:function(id){
                    if(this.checkOldPassword() && this.checkNewPassword() && this.checkNewPassword2()){
                    // if(this.$options.methods.checkOldPassword()&&this.$options.methods.checkNewPassword()&&this.$options.methods.checkNewPassword2()){
                    	var data = getDataByAjax('/updatepwd',{'cusPwd':this.newPassword,'id':id});
                       	if(data){
                       		alert('修改成功')
                               parent.location.href = '/';
                       	}else{
                               alert('修改失败')
                       	}
	               }else{
	            	  alert('修改失败，请重新填写') 
	               }
               
            	},
             }
        })
    </script>
</body>
</html>